/* Добавляем оформление элементам grid-контейнера: */
.container {
    width: 25%;
    height: 25%;
    top: 35%;
    left: 35%;
    position: absolute;
    display: grid;
    grid-template-columns: 2fr 2fr;
    
    text-align: center; /* Контент размещаем в центре по горизонтали */
    justify-content: center;
    column-gap: 2%;
    row-gap: 5%;
    /*gap: 5%;*/
}

.A {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start; /* выравнивает грид-элементы по горизонтали */
    align-self: start; /*выравнивает грид-элементы по вертикали*/
}
.A1 {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start; /* выравнивает грид-элементы по горизонтали */
    align-self: start; /*выравнивает грид-элементы по вертикали*/
}
.B {
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start; /* выравнивает грид-элементы по горизонтали */
    align-self: start;
}
.B1 {
    grid-area: 4 / 1 / 5 / 2;
    justify-self: start; /* выравнивает грид-элементы по горизонтали */
    align-self: start;
}
.C {
    grid-area: 5 / 1 / 6 / 2;
    justify-self: start; /* выравнивает грид-элементы по горизонтали */
    align-self: start;
}
.C1 {
    grid-area: 6 / 1 / 7 / 2;
    justify-self: start; /* выравнивает грид-элементы по горизонтали */
    align-self: start;
}
.D {
    grid-area: 7 / 1 / 8 / 2;
    justify-self: start; /* выравнивает грид-элементы по горизонтали */
    align-self: start;    
}
.D1 {
    grid-area: 8 / 1 / 9 / 2;
    justify-self: start; /* выравнивает грид-элементы по горизонтали */
    align-self: start;    
}
.E {
    grid-area: 9 / 1 / 10 / 2;
    justify-self: start; /* выравнивает грид-элементы по горизонтали */
    align-self: start;    
}
.E1 {
    grid-area: 10 / 1 / 11 / 2;
    justify-self: start; /* выравнивает грид-элементы по горизонтали */
    align-self: start;    
}
.F {
    grid-area: 11 / 1 / 12 / 2;
    justify-self: start; /* выравнивает грид-элементы по горизонтали */
    align-self: start;    
}
.G {
    grid-area: 12 / 1 / 13 / 2;
    justify-self: start; /* выравнивает грид-элементы по горизонтали */
    align-self: start;    
}
.G1 {
    grid-area: 13 / 1 / 14 / 2;
    justify-self: start; /* выравнивает грид-элементы по горизонтали */
    align-self: start;    
}

.neobut {
	border-radius: 3px;
	background-color: #f0f0f3;
	box-shadow: 10px 10px 21px #d3d3d6,
				-10px -10px 21px #fff;
	transition: .3s all;
	cursor: pointer;
}
