<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Получение предсказания</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='predict.css') }}">
</head>
<body>  
  <form action="/predict" method="post">
  <div class="container">
      <div class="A"> 
        <label> Регион: </label> 
      </div>
      <div class="A1">           
        <select name="region" id="region">
          <option value="">--Please choose an region--</option>
          <option value="dog">Москва</option>
          <option value="cat">Московская область</option>
          <option value="hamster">Санкт-Петербург</option>
          <option value="parrot">Краснодарский край</option>
          <option value="spider">Ненецкий автономный округ</option>
          <option value="goldfish">Не определено</option>
        </select>       
      </div>
      <div class="B"> 
        <label> ОПФ: </label>
      </div>
      <div class="B1">          
        <select name="opf" id="opf">
          <option value="">--Please choose an opf--</option>
          <option value="dog">Общественные организации</option>
          <option value="cat">Общественная или религиозная организация (объединение)</option>
          <option value="hamster">Гаражные и гаражно-строительные кооперативы</option>
          <option value="parrot">Автономные некоммерческие организации</option>
          <option value="spider">Потребительский кооператив</option>
          <option value="goldfish">unknown</option>
        </select>    
      </div>
      <div class="C"> 
        <label> ОКВЭД: </label>
      </div>
      <div class="C1">         
        <select name="okved" id="okved">
          <option value="">--Please choose an okved--</option>
          <option value="dog">Деятельность прочих общественных организаций, не включенных в другие группировки </option>
          <option value="cat">Деятельность стоянок для транспортных средств</option>
          <option value="hamster">Деятельность религиозных организаций</option>
          <option value="parrot">Управление эксплуатацией жилого фонда за вознаграждение или на договорной основе</option>
          <option value="spider">Деятельность профессиональных союзов</option>
          <option value="goldfish">unknown</option>
        </select> 
      </div>
      <div class="D"> 
        <label> доп.ОКВЭД: </label>
      </div>
      <div class="D1">          
        <select name="addOkved" id="addOkved">
          <option value="">--Please choose an addOkved--</option>
          <option value="dog">Управление эксплуатацией нежилого фонда</option>
          <option value="cat">Деятельность в области спорта прочая</option>
          <option value="hamster">Управление эксплуатацией нежилого фонда за вознаграждение или на договорной основе</option>
          <option value="parrot">Деятельность прочих общественных организаций, не включенных в другие группировки</option>
          <option value="goldfish">undefined</option>
        </select> 
      </div>
      <div class="E"> 
        <label> Возраст НКО: </label>
      </div>
      <div class="E1"> 
        <input type="text" id="age" name="age" style="height:100%; width:100%"> 
      </div>
      <div class="F">
        <input class="neobut" type="submit" name='test' value="ОК" style="height:25px; width:130px" ">        
      </div>
      <div class="G"> 
        <label> Вероятность получения гос. финансирования (%): </label>
      </div>
      <div class="G1"> 
        <input type="text" id="ver" name="ver" style="height:100%; width:100%"> 
      </div>
  </div>  
  </form>
</body>
</html> 
