<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Получение предсказания</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='predict.css') }}">
</head>
<body>  
  <form action="/predict" method="post">
  <div class="container">
      <div class="A"> 
        <label> Регион: </label> 
      </div>
      <div class="A1">           
        <select name="region" id="region">
          <option value="">--Please choose an region--</option>
          <option value="Москва">Москва</option>
          <option value="Московская область">Московская область</option>
          <option value="Санкт-Петербург">Санкт-Петербург</option>
          <option value="Краснодарский край">Краснодарский край</option>
          <option value="Ненецкий автономный округ">Ненецкий автономный округ</option>
          <option value="Не определено">Не определено</option>
        </select>       
      </div>
      <div class="B"> 
        <label> ОПФ: </label>
      </div>
      <div class="B1">          
        <select name="opf" id="opf">
          <option value="">--Please choose an opf--</option>
          <option value="Общественные организации">Общественные организации</option>
          <option value="Общественная или религиозная организация (объединение)">Общественная или религиозная организация (объединение)</option>
          <option value="Гаражные и гаражно-строительные кооперативы">Гаражные и гаражно-строительные кооперативы</option>
          <option value="Автономные некоммерческие организации">Автономные некоммерческие организации</option>
          <option value="Потребительский кооператив">Потребительский кооператив</option>
          <option value="unknown">unknown</option>
        </select>    
      </div>
      <div class="C"> 
        <label> ОКВЭД: </label>
      </div>
      <div class="C1">         
        <select name="okved" id="okved">
          <option value="">--Please choose an okved--</option>
          <option value="Деятельность прочих общественных организаций, не включенных в другие группировки">Деятельность прочих общественных организаций, не включенных в другие группировки</option>
          <option value="Деятельность стоянок для транспортных средств">Деятельность стоянок для транспортных средств</option>
          <option value="Деятельность религиозных организаций">Деятельность религиозных организаций</option>
          <option value="Управление эксплуатацией жилого фонда за вознаграждение или на договорной основе">Управление эксплуатацией жилого фонда за вознаграждение или на договорной основе</option>
          <option value="Деятельность профессиональных союзов">Деятельность профессиональных союзов</option>
          <option value="unknown">unknown</option>
        </select> 
      </div>
      <div class="D"> 
        <label> доп.ОКВЭД: </label>
      </div>
      <div class="D1">          
        <select name="addOkved" id="addOkved">
          <option value="">--Please choose an addOkved--</option>
          <option value="Управление эксплуатацией нежилого фонда">Управление эксплуатацией нежилого фонда</option>
          <option value="Деятельность в области спорта прочая">Деятельность в области спорта прочая</option>
          <option value="Управление эксплуатацией нежилого фонда за вознаграждение или на договорной основе">Управление эксплуатацией нежилого фонда за вознаграждение или на договорной основе</option>
          <option value="Деятельность прочих общественных организаций, не включенных в другие группировки">Деятельность прочих общественных организаций, не включенных в другие группировки</option>
          <option value="undefined">undefined</option>
        </select> 
      </div>
      <div class="E"> 
        <label> Возраст НКО: </label>
      </div>
      <div class="E1"> 
        <input type="text" id="age" name="age" style="height:100%; width:100%"> 
      </div>
      <div class="F">
        <input class="neobut" type="submit" name='test' value="ОК" style="height:25px; width:130px" ">        
      </div>
      <div class="G"> 
        <label> Вероятность получения гос. финансирования (%): </label>
      </div>

      <div class="G1"> 
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
      </div>      
  </div>  
  </form>
</body>
</html> 
